# compiled output
/dist
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# secrets
.env
src/config/config.ts
config.*.ts
!config.*.sample.ts
!config.sample.ts
!config.entity.ts
!config.service.ts
!config.types.d.ts

# other
temp/
private/
priv/

tools/blunder-report/stockfish
tools/blunder-report/results.json

# command overrides
src/command-overrides/commands/
src/command-overrides/mod-commands/
src/command-overrides/owner-commands/
!.gitkeep
