port: 3000
nickname: "BM Nate Brady"
commandsListUrl: https://github.com/NateBrady23/blunderbot/blob/main/COMMANDS.md

# Twitch
# The following was an application created in the BlunderBot23 twitch account to get API access
twitch:
  ownerUsername: YourTwitchUsername
  channel: YourTwitchUsername
  ownerId: 111111111
  botId: 111111112
  botUsername: YourBotUsername
  botPassword: "oauth:pass"
  apiBotOauthToken: "bottoken"
  apiOwnerOauthToken: "ownertoken"
  apiClientId: "apiClientID"
  apiClientSecret: "apiClientSecret"
  # A list of commands to run when a subscription is detected
  onSubscribe:
    - "!sound ./public/sounds/thank-you-for-being-a-friend.mp3"
  # Custom reward titles. If the server sees a custom reward with one of these titles, it will run the commands (as owner).
  # Make sure the title is exactly the same as it is on Twitch. Use {username} to insert the user's name into the command.
  # Use {message} to insert the user's message into the command.
  customRewardCommands:
    "Let it Snow":
      - "!confetti snow"
    "Change my opponent's rating":
      - "!opp-rating {message}"
    "Title me on LiChess":
      - "!tts Blunder Master, {username} would like to be titled on lichess. They chose: {message}"
    "My own !command":
      - "!tts {username} has redeemed their own command. They chose: {message}"
    "Make me VIP":
      - "!tts {username} has redeemed VIP status."
    "Create me an opponent king":
      - "!tts {username} has redeemed a custom opponent king. They chose: {message}"
    "Play a gif on the board":
      - "!gif {message}"
    "Run a Poll":
      - "!poll {message}"
    "Guide the Raid":
      - "!tts {username} has redeemed guide the raid. They would like to raid {message}"
    "Change BlunderBot's Voice":
      - "!voice {message}"
    "Set BlunderBot's Personality":
      - "!personality {message}"
    "Buy a Square":
      - "!buy {message} {username}"
    "Challenge me!":
      - "!queue add {username} {message}"
    "Sound: I don't need a queen":
      - "!sound naka-i-dont-need-a-queen"
  # I like to make commands for specific people, like trevlar_ is the only one
  # who can use the !trophy command. Note that the owner and bot can run all commands.
  # These users can't run commands above their role, so a non-mod can't run a mod command
  # even if they're listed here, so it's best to make restricted commands non-mod.
  userRestrictedCommands:
    clock: ["mammali77"]
    dadjoke: ["northcarolinadan"]
    resign: ["strobex_gaming"]
    skipsong: ["loldayzo"]
    trophy: ["trevlar_"]
  # These commands are limited to followers only
  followerCommands:
    - king
    - opp
    - chat
    - followage
    - translate
  # These commands are limited to subscribers only
  subCommands:
    - gif
    - image
    - vchat
    - tts
  # These commands can only be run {n} times per user per stream
  limitedCommands:
    highlight: 5
    image: 6
    tts: 5
    vchat: 3


# LICHESS
# example https://lichess.org/account/oauth/token/create?scopes[]=preference:read,preference:write,email:read,challenge:read,challenge:write,challenge:bulk,study:read,study:write,tournament:write,racer:write,puzzle:read,team:read,team:write,team:lead,follow:read,follow:write,msg:write,board:play&description=natebrady23
lichess:
  # My account
  user: YourLichessUsername
  oauthToken: "lip_token"
  botOauthToken: "lip_bot_token"
  teamId: "bradys-blunder-buddies"
  teamName: "Brady's Blunder Buddies"

openai:
  enabled: true
  apiKey: "sk-youropenai-api-key"
  ttsModel: "tts-1"
  imageModel: "dall-e-3"
  chatModel: "gpt-4-1106-preview"
  textModerationModel: "text-moderation-stable"
  # BlunderBot's instructions to the OpenAI chat model
  baseSystemMessage: "From now on, you are Nate Brady's creation: BlunderBot, Created to assist Nate with streaming on Twitch"
  # If an image prompt starts with any of these, BlunderBot will edit the image using a .png in the public/images/edits directory.
  # For example, "nate playing chess" will use the public/images/edits/nate.png file to edit the image.
  imageEdits:
    - "nate"
  # Voices available for BlunderBot. The first voice in the list is the default.
  voices:
    - "onyx"
    - "alloy"
    - "echo"
    - "fable"
    - "nova"
    - "shimmer"
  # Fix some common mispronunciations
  pronunciations:
    - ["lichess", "lee-chess"]
  # The number of messages to remember for the !chat command before it starts
  # deleting old messages. If 0, blunderbot won't have any memory of previous conversations.
  memoryCount: 50

discord:
  enabled: false
  botToken: your.bot.token
  # Make sure to keep the channel ID's as strings, else they will be converted to numbers
  # and won't work
  announcementChannelId: "888888888888888888"
  generalChannelId: "888888888888888889"
  # The channel where BlunderBot will upload images from the !image command
  galleryChannelId: "888888888888888810"
  modChannelId: "8888888888888888122"
  ownerAuthorId: "388888888888888888"
  botAuthorId: "1888888888888888882"
  inviteLink: https://discord.gg/MfsRvaMeqU

twitter:
  enabled: false
  apiKey: "your api key"
  apiSecret: "your api secret"
  accessToken: "your access token"
  accessSecret: "your access secret"
  tweetImagesEnabled: false
  tweetHashtags: "#Twitch"
  announceLive: false

# I invite blunderbot to my slack channel, but this isn't necessary for the bot to work
slack:
  enabled: false
  appToken: "xapp-1-token"
  botToken: "xoxb-token"

# Some commands require the decapi API. If disabled, those commands will not work.
decapi:
  enabled: false
  token: "54yourtokenHA"

heartRate:
  enabled: true
  # Web URL for heart rate monitor
  url: "https://app.hyperate.io/XXXX"
  # Class where BlunderBot can pull just the heart rate text from
  class: ".heartrate"

# Some commands require the giphy API. If disabled, those commands will not work.
giphy:
  enabled: false
  apiKey: "yourapikey"

# Some commands require Rapid API Keys. If disabled, those commands will not work.
rapidApi:
  enabled: false
  # Use multiple keys to avoid rate limiting if you want, though I haven't had that problem.
  # When a command requiring a key is used, the bot will choose a random key from the list.
  # You only need one, though. You can get a free key at https://rapidapi.com/
  keys:
    - "somekey"

youtube:
  enabled: false
  apiKey: "yourapikey"
  shortsPlaylistId: "PLI3ZmOU7TLd_dTZGyzfUmi2-KfYHmOSDc"

# Welcoming new users to the stream
welcome:
  enabled: true
  message: "Welcome in, {user}, Hope you stick around awhile."
  # A list of users to ignore when welcoming new users, like bots that aren't following you.
  ignoreUsers:
    - PretzelRocks

sounds:
  # Mutes or unmutes Firefox and Streamlabs OBS. I use one or both of these apps to play music
  # while streaming, and I want to mute them when I play a sound effect or BlunderBot talks.
  mute:
    programs:
      - 'SoundVolumeView /Mute "C:\Program Files\Mozilla Firefox\firefox.exe"'
      - 'SoundVolumeView /Mute "C:\Program Files\Streamlabs OBS\Streamlabs OBS.exe"'
  unmute:
    programs:
      - 'SoundVolumeView /Unmute "C:\Program Files\Mozilla Firefox\firefox.exe"'
      - 'SoundVolumeView /Unmute "C:\Program Files\Streamlabs OBS\Streamlabs OBS.exe"'

# Users to auto shoutout every time they chat for the first time each stream
autoShoutouts:
  - natebrady23
  - thecheesemate
  - trevlar_

# A list of players you want titled on your stream. Use their lichess username and it is case sensitive.
titledPlayers:
  - ["NateBrady", "BM"]
  - ["TheCheesemate","BBBXV M17 DM"]
  - ["ttrv","TM"]

# A list of commands you want disabled at the start of every stream
killedCommands:
  - somecommand
  - someothercommand

# A list of commands that won't show up in the !blunder commands list.
# None of the owner, mod commands, or simple message commands show up there by default.
hiddenCommands:
  - clock
  - dadjoke
  - followage
  - follows
  - redsox
  - skipsong
  - subscribers
  - title
  - trophy

# AutoCommands - These commands are run automatically by BlunderBot every (default 2.5 minutes) while the stream is
# in the "live" state. Commands that are grouped together run at the same time.
autoCommands:
  - commands:
      - "!youtube"
      - "!alert Check out the socials with !youtube !discord !team"

  - commands:
      - "!blunder"
      - "!alert !s10 You can change my king with the !king command like !king cry"

  - commands:
      - "!twitchspeak !opp random"

  - commands:
      - "!chat !t1.3 make up a chess quote with a fake grandmaster name. Respond in a format like this: \"quote\" - Grandmaster Fake Name"
      - "!alert !s10 Add your name to the board with the \"Buy a Square\" channel redemption!"

  - commands:
      - "!quote"

  - commands:
      - "!opp random"
      - "!king random"

# Message commands can either be simple messages or a list of owner run commands.
# User {username} to insert the user's name that used the command. Commands list will only run on twitch.
messageCommands:
  backseat:
    aliases:
      - "suggestion"
      - "suggestions"
    message: "Please don't make move suggestions, especially during rated games. Happy to look at moves after games end, but not during."

  bm:
    message: "BM is a title I made up for myself. BM stands for Blunder Master. A noble title exclusively awarded by this channel to individuals who consistently demonstrate the ability to achieve defeat from the jaws of victory."

  clock:
    commands:
      - "!tts {username} wants you to know that you're running low on the clock."

  discord:
    message: "Keep talking to me on the Discord at https://discord.gg/MfsRvaMeqU"

  github:
    message: "BlunderBot is now open sourced at https://github.com/NateBrady23/blunderbot"

  lurk:
    aliases:
      - "lurking"
      - "lurker"
      - "lurks"
    message: "Thanks for lurking! I appreciate you."

  merch:
    aliases:
      - "blundershop"
      - "shop"
      - "blunderstore"
      - "store"
    message: "The BlunderShop is now live! https://blundershop.com"

  # Message commands can now have a list of commands to run when the command is used.
  # These will be run by the owner as "ownerRunCommands" so be careful what you put here if you're
  # allowing anyone to use it. This is only supported for twitch commands atm.
  party:
    ownerOnly: true
    message: "It's time to party"
    commands:
      - "!gif !s19 party"
      - "!sound ./public/sounds/snoop.m4a"

  team:
    message: "Join Brady's Blunder Buddies at https://lichess.org/team/bradys-blunder-buddies"

  train:
    ownerOnly: true
    commands:
      - "!gif !s29 Sunglasses Racing GIF By Burger Records"
      - "!king secret_train"
      - "!sound ./public/sounds/train.m4a"

  trophy:
    commands:
      - "!king secret_trophy"
      - "!tts {username} wants you to know that you've got yourself another Rosen trophy."

  youtube:
    aliases:
      - "yt"
    message: "Check out the youtubes at https://youtube.com/@natebrady"

# For Sounds, Music, and Alerts
raids:
  # BlunderBot makes an announcement when any raid is detected. Use {raider} to say the raider's name
  announcement: "Hey {raider} and raiders, it's me, BlunderBot! Thank you so much for the raid!"
  # Commands to run when certain users raid the channel
  matches:
    imrosen:
      commands:
        - "!gif !s19 party"
        - "!opp rosen"
      alert: "./public/sounds/replace-me-ok.m4a"

    art_vega1983:
      commands:
        - "!gif !s19 party"
        - "!opp artvega"

    thecheesemate:
      commands:
        - "!opp cheesemate"
        - "!gif !s19 cheesy"

  # The default commands to run when a raid is detected but it's not from one of the users listed above
  defaultCommands:
    - "!gif !s19 party"
    - "!opp random"
  # The sound to play when a raid is detected if there's no alert specified in the matches above
  alert: "./public/sounds/replace-me-with-a-sound.m4a"

bits:
  # If a user cheers more than this amount, BlunderBot will run the commands and alerts listed below
  # Any kings/opps with "secret_" in front can only be changed to by the owner of the channel or
  # the bot, and they won't be listed in the kings/opps command as generally available.
  # NOTE: Most of these sounds don't exist, so add your own!
  matches:
    314:
      commands:
        - "!gif !s15 pi"
        - "!king secret_pie"
        - "!opp secret_pie"
      alert: "./public/sounds/replace-me-as-well.m4a"
    420:
      commands:
        - "!gif snoop dogg"
        - "!king secret_smoking"
        - "!opp secret_snoop"
      alert: "./public/sounds/replace-me2.m4a"
  # If there are no matches, run this for cheers 100 or more
  100orMore:
    commands:
      - "!gif !s12 cheers"
    alert: "./public/sounds/replace-me.m4a"
  # If there are no matches, run this for cheers 99 or less
  99orLess:
    commands:
      - "!gif !s12 cheers"
      - "!king random"
      - "!opp random"
    alert: "./public/sounds/replace-me.m4a"

gif:
  # If the !gif <phrase> matches one of these keys, use that gif URL instead
  # Use lowercase for the keys
  matches:
    silly: "https://lichess.org/blunderbot/gifs/doesnt-exist.gif"
  # If there are no matches, use this gif URL
  notFound: "https://lichess.org/blunderbot/gifs/404.gif"

autoResponder:
  # For each group, if a message matches one of the phrases, BlunderBot will respond automatically
  # Use regular expressions for the phrases. They'll be case insensitive and match anywhere in the message.
  # If the response begins with a "!", BlunderBot will run that command instead of sending a message.
  # NOTE: Only the first matching group will be used.
  -
    # Match any of these regular expressions to respond
    phrases:
      - "what.*(is|does|stand|mean).*bm"
    responses:
      - "!bm"
  -
    phrases:
      - "^nice$"
    responses:
      - "nice"
  -
    phrases:
      - "1v1( .*)? me"
    responses:
      - "1v1 me bro, I'll crush you"
      - "!challenge"

# A list of question/answers for the !trivia command.
# Make sure all answers are in lowercase as they are matched to lowercased answers.
# A user gets it correct if they match any of the answers.
trivia:
  - question: "What is the most common opening move in chess?"
	answers: ["1. e4", "e4", "1 e4", "e4!"]
  - question: "What is NateBrady23's favorite opening move in chess?"
	answers: ["1. c4", "c4", "1 c4", "c4!"]