@-webkit-keyframes arrow_anim {
  from {
    margin-top: 58px;
  }
  to {
    margin-top: 67px;
  }
}

@-moz-keyframes arrow_anim {
  from {
    margin-top: 58px;
  }
  to {
    margin-top: 67px;
  }
}

@-ms-keyframes arrow_anim {
  from {
    margin-top: 58px;
  }
  to {
    margin-top: 67px;
  }
}

@-o-keyframes arrow_anim {
  from {
    margin-top: 58px;
  }
  to {
    margin-top: 67px;
  }
}

@keyframes arrow_anim {
  from {
    margin-top: 58px;
  }
  to {
    margin-top: 67px;
  }
}

#arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid red;
  height: 0;
  margin: 60px 0px 0px 560px;
  position: absolute;
  width: 0;

  -webkit-animation: arrow_anim 0.3s steps(3) infinite;
  -moz-animation: arrow_anim 0.3s steps(3) infinite;
  -ms-animation: arrow_anim 0.3s steps(3) infinite;
  -o-animation: arrow_anim 0.3s steps(3) infinite;
  animation: arrow_anim 0.3s steps(3) infinite;
}

#dialog {
  position: absolute;
  bottom: 30px;
  left: 150px;
  height: 70px;
  background: #1c1c1c;
  border-radius: 5px;
  box-shadow:
    0 0 0 6px #f5eac8,
    0 0 0 12px #251c00;
  color: #f5eac8;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
  text-transform: uppercase;
  word-spacing: 3px;
  width: 600px;
}

#dialog img {
  height: 121px;
  position: absolute;
  bottom: -4px;
  left: -140px;
}

#dialog .accent {
  color: #d466d4;
}
